<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인과제 - 매거진</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Stylish&display=swap" rel="stylesheet">
    <!-- Bootstrap Import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!-- favicon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <style>
        body {
            font-family: 'Gowun Dodum', sans-serif;
            background-color: #fcfeff;
        }

        a {
            color: #212529;
            cursor: pointer;
            text-decoration: none;
        }

        a:hover {
            color: #212529;
        }

        .form-control:disabled, .form-control[readonly] {
            background-color: #f8fff9;
        }

        .profile {
            position: relative;
            width: 60px;
            height: 60px;
            border-radius: 50%; /*둥그런 원으로 만들기 위함*/
            overflow: hidden;
            margin: auto;
        }

        .profile img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card {
            border: none;
        }

        @media (min-width: 768px) {
            .col-md-2 {
                width: 10%;
            }

            .justify-content-md-end {
                justify-content: center;
            }
        }
    </style>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let postNo = [[ ${postNo}]];
        /*]]*/

        // 게시글 내용 수정
        function editPost(postNo) {
            // 1. 작성자명과 작성한 글의 제목과 내용을 불러옵니다.
            let postTitle = $('#postTitle').val();
            let postContents = $('#postContents').val();

            // 2. 전달할 data JSON으로 만듭니다.
            let data = {'postTitle': postTitle, 'postContents': postContents};

            // 3. POST /api/posts 에 data를 전달합니다.
            $.ajax({
                type: "PUT",
                url: `/api/posts/${postNo}`,
                contentType: "application/json", // JSON 형식으로 전달함을 알리기
                data: JSON.stringify(data),
                success: function (response) {
                    window.location.replace('/');
                }
            });
        }

        function setLayout(postNo, layout) {
            const layout = ${'#layoutNo'}.val();

            $.ajax({
                type: "PUT",
                url: `/api/posts/${postNo}/{layout}`,
                contentType: "application/json",
                success: function (response) {
                    window.location.reload();
                }
            })
        }

        function btnActive() {
            const editReadyBtn = document.getElementById('editReadyBtn');
            editReadyBtn.style.display = "none";

            const editBtn = document.getElementById('editBtn');
            editBtn.style.display = "block";

            const postTitle = document.getElementById('postTitle');
            postTitle.disabled = false;
            $('#postTitle').attr('readonly', false);

            const postContents = document.getElementById('postContents');
            postContents.disabled = false;
            $('#postContents').attr('readonly', false);
        }

        // 게시글을 삭제합니다.
        function deletePost(postNo) {
            $.ajax({
                type: "DELETE",
                url: `/api/posts/${postNo}`,
                success: function (response) {
                    window.location.replace('/');
                }
            })
        }

        // 좋아요 및 좋아요 취소
        function isLike(postNo) {
            $.ajax({
                type: "GET",
                url: `/api/posts/${postNo}/like`,
                contentType: 'application/json',
                success: function (response) {
                }
            })
        }

    </script>
</head>
<body>
<div class="wrap">
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <!-- 로그인 유저용 헤더 -->
            <th:block th:unless="${session.userNo == null}">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                       class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
                       style="color: white;"><span style="font-weight: bold">PARUNSON MAGAZINE</span></a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/" class="nav-link text-secondary">
                                Hello! <span th:text="${nickname}"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="nav-link text-secondary">
                                <i class="bi bi-house-door"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <form action="/api/logout" method="post">
                                <i class="bi bi-box-arrow-right"></i>
                                <button type="submit">Log out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </th:block>
            <!-- 비로그인 유저용 헤더 -->
            <th:block th:unless="${session.userNo != null}">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                       class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
                       style="color: white;"><span style="font-weight: bold">PARUNSON MAGAZINE</span></a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/" class="nav-link text-secondary">
                                <i class="bi bi-house-door"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/api/register" class="nav-link text-secondary">
                                <i class="bi bi-person-circle"></i>
                                Sign up
                            </a>
                        </li>
                        <li>
                            <a href="/api/login" class="nav-link text-secondary">
                                <i class="bi bi-box-arrow-left"></i>
                                Log in
                            </a>
                        </li>
                    </ul>
                </div>
            </th:block>
        </div>
    </div>
    <div class="container">
        <!-- 타이틀 -->
        <h2 style="text-align: center; margin: 100px; font-weight: bold"><a href="/">PARUNSON MAGAZINE</a></h2>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <p>Created: <span
                        th:text="${post.createdAt.getYear()} + '-' + ${post.createdAt.getMonthValue()} + '-' + ${post.createdAt.getDayOfMonth()} + ' ' + ${post.createdAt.getHour()} + ':' + ${post.createdAt.getMinute()} + ':' + ${post.createdAt.getSecond()}"></span>
                    | Modified: <span
                            th:text="${post.modifiedAt.getYear()} + '-' + ${post.modifiedAt.getMonthValue()} + '-' + ${post.modifiedAt.getDayOfMonth()} + ' ' + ${post.modifiedAt.getHour()} + ':' + ${post.modifiedAt.getMinute()} + ':' + ${post.modifiedAt.getSecond()}"></span>
                </p>
            </div>
            <div class="col-md-6" style="text-align: right">
                <p>Views : <span th:text="${post.getViews()}"></span></p>
            </div>
        </div>
        <!-- 수정 항목 -->
        <div class="mb-3">
            <div class="row">
                <div class="col-sm-1" style="align-self: center;">
                    <label for="postTitle" class="form-label">Title:</label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="postTitle" th:value="${post.getPostTitle()}" disabled
                           readonly>
                </div>
                <div class="col-sm-1" style="align-self: center;">
                    <label for="nickname" class="form-label">Author:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="nickname" th:value="${post.getNickname()}" disabled
                           readonly>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="postContents" class="form-label">Contents:</label>
            <textarea class="form-control" id="postContents" rows="10" th:text="${post.getPostContents()}" disabled
                      readonly></textarea>
        </div>
        <!-- 좋아요 버튼 -->
        <th:block th:unless="${session.userNo == null}">
            <div class="row justify-content-md-center" style="margin: 25px 0 25px 0; justify-content: center;">
                <button type="button" class="btn btn-danger" th:onclick="'javascript:isLike(' + ${postNo} + ')'"
                        style="width: 120px"><span th:text="${post.getLikes()}"></span> Likes ❤
                </button>
            </div>
        </th:block>
        <th:block th:unless="${session.userNo != null}">
            <div class="row justify-content-md-center" style="margin: 25px 0 25px 0; justify-content: center;">
                <span style="color:red; text-align: center;">A login required</span>
                <button type="button" class="btn btn-secondary" style="width: 120px" disabled><span
                        th:text="${post.getLikes()}"></span> Likes ❤
                </button>
            </div>
        </th:block>
    </div>
    <!-- 게시글 수정 버튼 -->
    <th:block th:unless="${session.userNo == null}">
        <div class="row justify-content-md-center">
            <div class="col col-md-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" id="editReadyBtn" class="btn btn-primary"
                            style="background-color: #3e87f8; color: white; border-color: white;" onclick="btnActive()">
                        Modify
                    </button>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" id="editBtn" class="btn btn-primary"
                            style="display: none; background-color: green; color: white; border-color: white;"
                            th:onclick="'javascript:editPost('+ ${postNo} + ');'">Complete
                    </button>
                </div>
            </div>
            <div class="col col-md-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" id="deleteBtn" class="btn btn-primary"
                            style="background-color: crimson; color: white; border-color: white;"
                            th:onclick="'javascript:deletePost('+ ${postNo} + ');'">Delete
                    </button>
                </div>
            </div>
        </div>
    </th:block>
</div>
<!-- Footer 코드스니펫 걍 가져다 붙이기ㅋㅋ -->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="text-muted">Copyright 2022. Parunson. All rights reserved.</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        </ul>
    </footer>
</div>
</div>

</body>
</html>