<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인과제 - 매거진 사이트</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Stylish&display=swap" rel="stylesheet">
    <!-- Bootstrap Import -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!-- favicon -->
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- CSS -->
    <style>
        body {
            font-family: 'Gowun Dodum', sans-serif;
            background-color: #fcfeff;
        }

        @media ( max-width: 768px ) {
            .mobile-display {
                display: none;
            }
        }

        a {
            color: #212529;
            cursor: pointer;
            text-decoration: none;
        }

        a:hover {
            color: #212529;
        }
    </style>
    <!-- function -->
    <script>
        $(document).ready(function () {
            // HTML 문서를 로드할 때마다 실행합니다.
            getPosts();
        })

        // 메모를 불러와서 보여줍니다.
        function getPosts() {
            // 1. 기존 메모 내용을 지웁니다.
            $('#post-box').empty();
            // 2. 메모 목록을 불러와서 HTML로 붙입니다.
            $.ajax({
                type: 'GET',
                url: '/api/posts',
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        let post = response[i];
                        let postNo = post.postNo;
                        let postTitle = post.postTitle;
                        let nickname = post.nickname;
                        let views = post.views;
                        let createdAt = post.createdAt.replace("T", " ").replace(/\..*/, '');

                        addHTML(postNo, postTitle, nickname, views, createdAt)
                    }
                }
            })
        }

        // 게시글을 HTML로 만들어서 body 태그 내 원하는 곳에 붙입니다.
        function addHTML(postNo, postTitle, nickname, views, createdAt) {
            // 1. HTML 태그를 만듭니다.
            let tempHtml = `<tr>
                                <td onclick="location.href='/api/posts/${postNo}'" style="cursor: pointer">${postTitle}</td>
                                <td class="mobile-display" style="text-align: center">${nickname}</td>
                                <td class="mobile-display" style="text-align: center">${views}</td>
                                <td class="mobile-display" style="text-align: center">${createdAt}</td>
                            </tr>`;
            // 2. #post-box 에 HTML을 붙인다.
            $('#post-box').append(tempHtml);
        }

        // 게시글 작성
        function writePost() {
            // 1. 작성자명과 작성한 글의 제목과 내용을 불러옵니다.
            let postTitle = $('#postTitle').val();
            let nickname = $('#nickname').val();
            let postContents = $('#postContents').val();

            // 2. 전달할 data JSON으로 만듭니다.
            let data = {'postTitle': postTitle, 'nickname': nickname, 'postContents': postContents};

            // 3. POST /api/posts 에 data를 전달합니다.
            $.ajax({
                type: "POST",
                url: "/api/posts",
                contentType: "application/json", // JSON 형식으로 전달함을 알리기
                data: JSON.stringify(data),
                success: function (response) {
                    window.location.replace('/');
                }
            });
        }

        // 게시글을 삭제합니다.
        function deleteOne(postNo) {
            $.ajax({
                type: "DELETE",
                url: `/api/posts/${postNo}`,
                success: function (response) {
                    window.location.reload();
                }
            })
        }

        // 새 버킷 작성
        function writeBucket() {
            // 1. 작성자명과 작성한 글의 제목과 내용을 불러옵니다.
            let title = $('#bucketTitle').val();
            let position = $('#bucketPosition').val();
            position *= 1;

            // 2. 전달할 data JSON으로 만듭니다.
            let data = {'pjId': 'test', 'title': title, 'position': position};

            // 3. POST /api/posts 에 data를 전달합니다.
            $.ajax({
                type: "POST",
                url: "/api/buckets/",
                contentType: "application/json", // JSON 형식으로 전달함을 알리기
                data: JSON.stringify(data),
                success: function (response) {
                    window.location.replace('/');
                }
            });
        }
    </script>
</head>
<body>
<div class="wrap">
    <div class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <!-- 로그인 유저용 헤더 -->
            <th:block th:unless="${session.userNo == null}">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                       class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
                       style="color: white;"><span style="font-weight: bold">PARUNSON MAGAZINE</span></a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/" class="nav-link text-secondary">
                                Hello! <span th:text="${session.nickname}"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/" class="nav-link text-secondary">
                                <i class="bi bi-house-door"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <form action="/api/logout" method="post">
                                <i class="bi bi-box-arrow-right"></i>
                                <button type="submit">Log out</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </th:block>
            <!-- 비로그인 유저용 헤더 -->
            <th:block th:unless="${session.userNo != null}">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/"
                       class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
                       style="color: white;"><span style="font-weight: bold">PARUNSON MAGAZINE</span></a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/" class="nav-link text-secondary">
                                <i class="bi bi-house-door"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/api/register" class="nav-link text-secondary">
                                <i class="bi bi-person-circle"></i>
                                Sign up
                            </a>
                        </li>
                        <li>
                            <form action="/api/login" method="get">
                                <a href="/api/login" class="nav-link text-secondary">
                                    <i class="bi bi-box-arrow-left"></i>
                                    Log in
                                </a>
                            </form>
                        </li>
                    </ul>
                </div>
            </th:block>
        </div>
    </div>
    <div class="container">
        <h2 style="text-align: center; margin: 100px; font-weight: bold"><a href="/">PARUNSON MAGAZINE</a></h2>

        <!-- 게시글 목록 -->
        <table class="table table-hover">
            <thead>
            <tr style="text-align: center">
                <th scope="col" style="width: 50%">Title</th>
                <th class="mobile-display" scope="col" style="width: 15%">Author</th>
                <th class="mobile-display" scope="col">Views</th>
                <th class="mobile-display" scope="col" style="width: 20%">Date</th>
            </tr>
            </thead>
            <tbody id="post-box">
            <tr>
                <td>안녕하세요. 첫 게시글 입니다.</td>
                <td class="mobile-display">운영자</td>
                <td class="mobile-display">31</td>
                <td class="mobile-display">2022/04/08 18:51:08</td>
            </tr>
            </tbody>
        </table>

        <!-- 게시글 작성 버튼 -->
        <th:block th:unless="${session.userNo == null}">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-success"
                        data-bs-toggle="modal" data-bs-target="#newPostModal" data-bs-whatever="@mdo">New Post
                </button>
            </div>
        </th:block>
        <!-- 게시글 작성 모달 -->
        <div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newPostModalLabel"><span style="font-weight: bold">New Post</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="postTitle" class="col-form-label">Title :</label>
                                <input type="text" class="form-control" id="postTitle">
                            </div>
                            <div class="mb-3" style="display: none">
                                <label for="nickname" class="col-form-label">Author :</label>
                                <input type="text" class="form-control" id="nickname" th:value="${session.nickname}">
                            </div>
                            <div class="mb-3">
                                <label for="postContents" class="col-form-label">Contents :</label>
                                <textarea class="form-control" id="postContents" style="height: 300px"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" onclick="writePost()">Add new post</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- 버킷 작성 버튼 -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-success"
                    data-bs-toggle="modal" data-bs-target="#newBucketModal" data-bs-whatever="@mdo">버킷 만들기
            </button>
        </div>
        <!-- 게시글 작성 모달 -->
        <div class="modal fade" id="newBucketModal" tabindex="-1" aria-labelledby="newBucketModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newBucketModalLabel"><span style="font-weight: bold">버킷 추가</span>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="bucketTitle" class="col-form-label">버킷 제목 :</label>
                                <input type="text" class="form-control" id="bucketTitle">
                            </div>
                            <div class="mb-3">
                                <label for="bucketPosition" class="col-form-label">버킷 포지션 :</label>
                                <input type="text" class="form-control" id="bucketPosition">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" onclick="writeBucket()">버킷 생성</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer 코드스니펫 걍 가져다 붙이기ㅋㅋ -->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="text-muted">Copyright 2022. Parunson. All rights reserved.</span>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            </ul>
        </footer>
    </div>
</div>
</body>

</html>